<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Times up game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/layout :: navigation">&nbsp;</div>
<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-1 showcase-text custom-error-msg">
                <div class="alert alert-danger" role="alert" th:text="${param.error}" th:if="${param.error}"></div>
            </div>
        </div>
    </div>
</section>

<section class="showcase" id="play-content">

</section>
<div th:replace="fragments/layout :: footer">&nbsp;</div>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="application/javascript">
    function loadContent() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                document.getElementById("play-content").innerHTML = this.responseText;
                eval(document.getElementById('page-js').innerHTML);
            }
        };
        xhttp.open("GET", "/ajax/play", true);
        xhttp.send();
    }

    loadContent();
</script>
<script type="application/javascript" th:if="${refresh}">
    setInterval(function () {
        loadContent();
    }, 900);
</script>
</body>
</html>